In [26]:
import pandas as pd

# Import financial data
data = pd.read_excel('key_financials.xlsx')

In [27]:
# Perform inspection of dataset
data.head()

,Company Name,Excel Company ID,Year,Total Revenue,Gross Profit,EBITDA,EBIT,Net Income,Cash And Equivalents,Total Cash and ST Investments,Net Property,Total Assets,Total Debt,Total Equity,Capital Expenditure,Dividends per share
0,1010 Printing Group Limited (SEHK:1127),IQ136804909,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,361 Degrees International Limited (SEHK:1361),IQ60184932,2006,NaN,NaN,NaN,NaN,NaN,2.33,7.25,3.82,53.3,8.51,14.2,0.451,0.0
2,3Cnergy Limited (Catalist:502),IQ79611391,2006,50.2,12.60,4.76,3.56,3.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3SBio Inc. (SEHK:1530),IQ24164591,2006,64.5,14.00,11.70,11.40,8.35,4.98,4.98,8.47,28.0,8.61,14.5,0.525,0.0
4,800 Super Holdings Limited (Catalist:5TG),IQ137292017,2006,19.1,3.45,4.24,2.22,1.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Perform descriptive statistics on dataset

# Write your pandas code here

In [17]:
# We want to perform some prediction modeling on the dataset
# However, we still need to do some data munging

# First of all, Revenue, GP, EBITDA, EBIT, and Net Income are highly correlated. Thus there will not be an information gain
# if we regress any of these variables against the rest.
# The typical solution is to choose just 1 of them as the outcome variable
# For this exercise, use EBITDA as the outcome variable

# Write the pandas code to subset the dataframe, dropping total revenue, gross profit, ebit, net income

In [34]:
# 1 important metric in finance is debt-equity ratio (you will learn about this in Corporate Finance)
# The formula for debt-equity ratio si Total Debt divided by Total Equity

# Create a new column called DE ratio filled by these values
# pandas and numpy allow column to column operations (the operation is carried out elementwise)
data['DE ratio'] = data['Total Debt']/data['Total Equity']

# Create a new column called ST Investments (short term investments), you can get this value by deducting
# Cash and Equivalents from Total Cash and ST Investments

# Write your pandas code here

In [ ]:
# since DE ratio is constructed from Total Debt and Total Equity, these 3 values are perfectly correlated
# As such, there is no information gain from having all 3 variables in the predictive model

# Write the pandas code to drop Total Debt and Total Equity, also drop Total Cash and ST Investments

In [31]:
# Year is a categorical variable, but cannot be ranked since there is 
# no rationale why 2018, although numerically larger than 2017, should be positively associated with e.g. revenue
# Thus we need to convert Year variable into dummy variables

# Write your pandas code for this step

In [33]:
# An issue with statistical models is that observations (rows) with empty values cannot be used
# To ensure that the resulting dataset has observations without missing values for any features, 
# we use the dropna function in pandas - This will delete all the rows with at least 1 missing value
data1 = data.dropna()
data1

In [ ]:
# From here, we want to test a couple of predictive modeling starting from statistical models
# But lets follow best practices and create a training and test split

# Write your sklearn code for this step

In [35]:
# Next, perform a linear regression EBITDA = Cash And Equivalents + ST Investments + Net Property + Total Assets + DE ratio + Capital Expenditure + Dividends per share + year_dummies

# Write your sklearn code here and fit the model

In [36]:
# Train your training set and use it to predict your test set

# Write your sklearn code here

In [37]:
# Perform accuracy scoring

# Write your sklearn code here

In [38]:
# Try logistic regression, does the accuracy improve?

# Write your codes here

In [39]:
# Follow the pipeline approach and perform the following models: SVM, Decision Trees, Random Forest

# Write your SVM code here and check the accuracy

In [40]:
# Write your Decision Trees code here and check the accuracy

In [41]:
# Write your Random Forest code here and check the accuracy
# Note: if the model takes too long to finish (> 3min), click stop in the toolbar above and reduce the number of iterations

In [42]:
# Take the Random Forest model and perform hyperparameter tuning (grid search) + performance evaluation (cross-validation)
# Note: if the model takes too long to finish (> 3min), click stop in the toolbar above and reduce the number of grid search parameters

# Write your code here. Does your accuracy improve?

In [ ]:
# Extract the important features for the random forest model. Can you think of economic rationales why these features influence ebitda?

# Write your code here