In [7]:
# Operators (Slide 34)
1 + 1

[1] 2

In [8]:
2%%2
3%%2

[1] 0

[1] 1

In [2]:
# Variables (Slide 35)
no_of_apples = 15
price_of_basket = 67.83

print(price_of_basket/no_of_apples)

[1] 4.522

In [3]:
# Model/Equation with if-else statements (Slide 36)
price_per_apple = price_of_basket/no_of_apples

# simple if-elseif-else statement
if (price_per_apple > 3){
  comment = "The price of the apple is too damn high!"
} else if (price_per_apple > 2 & price_per_apple <=3){
  comment = "This is fair."
} else if (price_per_apple > 1 & price_per_apple <=2){
  comment = "Wah, cheap. sibe wu hua!"
} else {
  comment = "Chiong ah, grab everything!"
}

print(comment)

[1] "The price of the apple is too damn high!"

In [4]:
# Creating a list/array (Slide 38)
height = c(164, 176, 153, 145, 183)
height[3]  # return the value of the 3rd element in the list

[1] 153

In [9]:
height[2:4]  # return the slice from element 2 to 4

[1] 176 153 145

In [28]:
# Returning elements using a TRUE/FALSE array
# I want to get the values of the second and fourth element
# To do that, I create an array with the 2nd and 4th element as TRUE, and other elements as FALSE
subset_mask = c(FALSE, TRUE, FALSE, TRUE, FALSE)

height[subset_mask]

[1] 176 145

In [10]:
# Inbuilt functions (Slide 39)
myValues = c(3, 4, 5, 6, 7, 8)

max(myValues)

[1] 8

In [11]:
# You can check any R modules/functions using ?name
?max

In [22]:
# Create dataframe called admit (Slide 40 - 42)
admit = data.frame(c(512, 89), c(353, 17), c(120, 202), c(138, 131), c(53, 94), c(22, 24), 
                row.names = c('admit_male', 'admit_female'))
colnames(admit) = c('A', 'B', 'C', 'D', 'E', 'F')

df

             A   B   C   D   E  F
admit_male   512 353 120 138 53 22
admit_female  89  17 202 131 94 24

In [23]:
# Subsetting Dataframe
admit[1:1, 4:5] # Returns first row with columns D and E

           D   E
admit_male 138 53

In [27]:
# Idiosyncracies in R Dataframe
# [] subsetting returns a dataframe, [[]] returns an array
admit$A  # extracts first column in an array format
admit['A']  # extracts first column in a dataframe format
admit[['A']]  # extracts first column in an array format

# Subsetting Dataframe using TRUE/FALSE
# DataFrame subsetting with TRUE/FALSE array doesn't work, requires a TRUE/FALSE dataframe

[1] 512  89

             A
admit_male   512
admit_female  89

In [29]:
# Flow control - For Loop (Slide 43)
list = c(2, 3, 4, 5, 6, 7, 8)

for (n in list){
    if (n%%2 != 0){
        next
    } else {
        print(paste(n, "is not a factor of 2."))
    }
}

[1] "2 is not a factor of 2."
[1] "4 is not a factor of 2."
[1] "6 is not a factor of 2."
[1] "8 is not a factor of 2."

In [ ]:
# Flow control - While Loop (Slide 46)
i = 0
while (i < 50){
    i = i + 1
}

In [30]:
# Creating functions (Slide 49)
diff = function(start, end){
    difference = end - start
    return(difference)
}

In [31]:
# Test the output of the function diff
diff(4, 8)  # returns 4

[1] 4

In [32]:
# Creating functions II (SLide 51)
get_max = function(list_of_values, scalar){
    largest_value = 0
    for (v in list_of_values){
        if (v > largest_value){
            largest_value = v
        }
    }
    return(largest_value*scalar)
}

In [33]:
# Test the funciton get_max
get_max(c(2, 4, 6, 8, 10), 2)  # should return 20

[1] 20